<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit Expenditures</h1>
<p>
    <a href="/list">Expenditures information</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/editSave}" th:object="${ex}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{exName}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{exPrice}"/></td>
        </tr> <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{exDescription}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input type="text" th:field="*{exCategory}"/></td>
        </tr>
        <tr>
        <td><input type="file" id="link" th:field="*{invoicePhoto}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>